tools/Ntreev.Crema.RuntimeService/Service References/CremaHostService/schemas.ntreev.com1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.ntreev.com" elementFormDefault="qualified" targetNamespace="http://schemas.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ResultBaseOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.ntreev.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfguid" nillable="true" type="tns:ResultBaseOfguid" />
  <xs:complexType name="CremaFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CremaFault" nillable="true" type="tns:CremaFault" />
  <xs:complexType name="SignatureDate">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignatureDate" nillable="true" type="tns:SignatureDate" />
  <xs:complexType name="ResultBase">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBase" nillable="true" type="tns:ResultBase" />
  <xs:complexType name="ResultBaseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.ntreev.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfstring" nillable="true" type="tns:ResultBaseOfstring" />
  <xs:complexType name="ResultBaseOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.ntreev.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfboolean" nillable="true" type="tns:ResultBaseOfboolean" />
  <xs:complexType name="ResultBaseOfArrayOfDataBaseInfoq8erDhHE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.ntreev.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfDataBaseInfo" Namespace="http://schemas.ntreev.com">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:ArrayOfDataBaseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfArrayOfDataBaseInfoq8erDhHE" nillable="true" type="tns:ResultBaseOfArrayOfDataBaseInfoq8erDhHE" />
  <xs:complexType name="ArrayOfDataBaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataBaseInfo" type="tns:DataBaseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataBaseInfo" nillable="true" type="tns:ArrayOfDataBaseInfo" />
  <xs:complexType name="DataBaseInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreationInfo" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ModificationInfo" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Paths" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Revision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TablesHashValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tags" type="tns:TagInfo" />
      <xs:element minOccurs="0" name="TypesHashValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataBaseInfo" nillable="true" type="tns:DataBaseInfo" />
  <xs:complexType name="TagInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagInfo" nillable="true" type="tns:TagInfo" />
  <xs:complexType name="ResultBaseOfServiceInfoq8erDhHE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultBaseOf{0}{#}" Namespace="http://schemas.ntreev.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ServiceInfo" Namespace="http://schemas.ntreev.com">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Fault" nillable="true" type="tns:CremaFault" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
      <xs:element minOccurs="0" name="TaskID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" type="tns:ServiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultBaseOfServiceInfoq8erDhHE" nillable="true" type="tns:ResultBaseOfServiceInfoq8erDhHE" />
  <xs:complexType name="ServiceInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlatformID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceItems" nillable="true" type="tns:ArrayOfServiceItemInfo" />
      <xs:element minOccurs="0" name="Timeout" type="xs:int" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
  <xs:complexType name="ArrayOfServiceItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceItemInfo" type="tns:ServiceItemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceItemInfo" nillable="true" type="tns:ArrayOfServiceItemInfo" />
  <xs:complexType name="ServiceItemInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceItemInfo" nillable="true" type="tns:ServiceItemInfo" />
  <xs:simpleType name="ShutdownType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Restart">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NoCache">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ShutdownType" nillable="true" type="tns:ShutdownType" />
  <xs:complexType name="CallbackInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Index" type="xs:long" />
      <xs:element minOccurs="0" name="SignatureDate" type="tns:SignatureDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallbackInfo" nillable="true" type="tns:CallbackInfo" />
  <xs:complexType name="CloseInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" type="tns:CloseReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloseInfo" nillable="true" type="tns:CloseInfo" />
  <xs:simpleType name="CloseReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Faulted" />
      <xs:enumeration value="NoResponding" />
      <xs:enumeration value="Reconnected" />
      <xs:enumeration value="Kicked" />
      <xs:enumeration value="Banned" />
      <xs:enumeration value="Shutdown" />
      <xs:enumeration value="Restart" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CloseReason" nillable="true" type="tns:CloseReason" />
</xs:schema>