tools/Ntreev.Crema.RuntimeService/Service References/CremaHostService/www.ntreev.com1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ntreev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ntreev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ntreev.com/Imports">
      <xsd:import namespace="http://www.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICremaHostService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_IsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetDataBaseInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseInfos" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetDataBaseInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataBaseInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetServiceInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfos" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_GetServiceInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_Shutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:Shutdown" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_Shutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShutdownResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_CancelShutdown_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelShutdown" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_CancelShutdown_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelShutdownResponse" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_OnServiceClosed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServiceClosed" />
  </wsdl:message>
  <wsdl:message name="ICremaHostService_OnTaskCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTaskCompleted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICremaHostService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/Subscribe" message="tns:ICremaHostService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/SubscribeResponse" message="tns:ICremaHostService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/Unsubscribe" message="tns:ICremaHostService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/UnsubscribeResponse" message="tns:ICremaHostService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetVersion">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/GetVersion" message="tns:ICremaHostService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/GetVersionResponse" message="tns:ICremaHostService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsOnline">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/IsOnline" message="tns:ICremaHostService_IsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/IsOnlineResponse" message="tns:ICremaHostService_IsOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetDataBaseInfos">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/GetDataBaseInfos" message="tns:ICremaHostService_GetDataBaseInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/GetDataBaseInfosResponse" message="tns:ICremaHostService_GetDataBaseInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServiceInfos">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/GetServiceInfos" message="tns:ICremaHostService_GetServiceInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/GetServiceInfosResponse" message="tns:ICremaHostService_GetServiceInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Shutdown">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/Shutdown" message="tns:ICremaHostService_Shutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/ShutdownResponse" message="tns:ICremaHostService_Shutdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CancelShutdown">
      <wsdl:input wsaw:Action="http://www.ntreev.com/ICremaHostService/CancelShutdown" message="tns:ICremaHostService_CancelShutdown_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/CancelShutdownResponse" message="tns:ICremaHostService_CancelShutdown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnServiceClosed">
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/OnServiceClosed" message="tns:ICremaHostService_OnServiceClosed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnTaskCompleted">
      <wsdl:output wsaw:Action="http://www.ntreev.com/ICremaHostService/OnTaskCompleted" message="tns:ICremaHostService_OnTaskCompleted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>