client/Ntreev.Crema.Services/Service References/DomainContextService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.ntreev.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DomainContextService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDomainContextService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.ntreev.com" location="" />
  <wsdl:types />
  <wsdl:binding name="NetTcpBinding_IDomainContextService" type="i0:IDomainContextService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDomainContextService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/GetMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserLocation">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/SetUserLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRow">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/NewRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveRow">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/RemoveRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRow">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/SetRow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/SetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginUserEdit">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/BeginUserEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndUserEdit">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/EndUserEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Kick">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/Kick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOwner">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/SetOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/DeleteDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServiceClosed">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnServiceClosed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDomainsCreated">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnDomainsCreated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDomainsDeleted">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnDomainsDeleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDomainInfoChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnDomainInfoChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnDomainStateChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnDomainStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserAdded">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserRemoved">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserRemoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserLocationChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserLocationChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserStateChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserEditBegun">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserEditBegun" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUserEditEnded">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnUserEditEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnOwnerChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnOwnerChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRowAdded">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnRowAdded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRowChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnRowChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnRowRemoved">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnRowRemoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPropertyChanged">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnPropertyChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTaskCompleted">
      <soap12:operation soapAction="http://www.ntreev.com/IDomainContextService/OnTaskCompleted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DomainContextService">
    <wsdl:port name="NetTcpBinding_IDomainContextService" binding="tns:NetTcpBinding_IDomainContextService">
      <soap12:address location="net.tcp://localhost:4004/DomainContextService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4004/DomainContextService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>