client/Ntreev.Crema.Services/Service References/DomainContextService/www.ntreev.com1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.ntreev.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ntreev.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ntreev.com/Imports">
      <xsd:import namespace="http://www.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.ntreev.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDomainContextService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_GetMetaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetaData" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_GetMetaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetUserLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserLocation" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetUserLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_NewRow_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRow" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_NewRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_RemoveRow_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRow" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_RemoveRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetRow_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRow" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetRow_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRowResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProperty" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_BeginUserEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginUserEdit" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_BeginUserEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginUserEditResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_EndUserEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:EndUserEdit" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_EndUserEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndUserEditResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_Kick_InputMessage">
    <wsdl:part name="parameters" element="tns:Kick" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_Kick_OutputMessage">
    <wsdl:part name="parameters" element="tns:KickResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOwner" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_SetOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_DeleteDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDomain" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_DeleteDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnServiceClosed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServiceClosed" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnDomainsCreated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDomainsCreated" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnDomainsDeleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDomainsDeleted" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnDomainInfoChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDomainInfoChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnDomainStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnDomainStateChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserAdded" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserRemoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserRemoved" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserLocationChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserLocationChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserStateChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserStateChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserEditBegun_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserEditBegun" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnUserEditEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnUserEditEnded" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnOwnerChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnOwnerChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnRowAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRowAdded" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnRowChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRowChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnRowRemoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnRowRemoved" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnPropertyChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPropertyChanged" />
  </wsdl:message>
  <wsdl:message name="IDomainContextService_OnTaskCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTaskCompleted" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDomainContextService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/Subscribe" message="tns:IDomainContextService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/SubscribeResponse" message="tns:IDomainContextService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/Unsubscribe" message="tns:IDomainContextService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/UnsubscribeResponse" message="tns:IDomainContextService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMetaData">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/GetMetaData" message="tns:IDomainContextService_GetMetaData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/GetMetaDataResponse" message="tns:IDomainContextService_GetMetaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetUserLocation">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/SetUserLocation" message="tns:IDomainContextService_SetUserLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/SetUserLocationResponse" message="tns:IDomainContextService_SetUserLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NewRow">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/NewRow" message="tns:IDomainContextService_NewRow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/NewRowResponse" message="tns:IDomainContextService_NewRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveRow">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/RemoveRow" message="tns:IDomainContextService_RemoveRow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/RemoveRowResponse" message="tns:IDomainContextService_RemoveRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetRow">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/SetRow" message="tns:IDomainContextService_SetRow_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/SetRowResponse" message="tns:IDomainContextService_SetRow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetProperty">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/SetProperty" message="tns:IDomainContextService_SetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/SetPropertyResponse" message="tns:IDomainContextService_SetProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="BeginUserEdit">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/BeginUserEdit" message="tns:IDomainContextService_BeginUserEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/BeginUserEditResponse" message="tns:IDomainContextService_BeginUserEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EndUserEdit">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/EndUserEdit" message="tns:IDomainContextService_EndUserEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/EndUserEditResponse" message="tns:IDomainContextService_EndUserEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Kick">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/Kick" message="tns:IDomainContextService_Kick_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/KickResponse" message="tns:IDomainContextService_Kick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetOwner">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/SetOwner" message="tns:IDomainContextService_SetOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/SetOwnerResponse" message="tns:IDomainContextService_SetOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteDomain">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/DeleteDomain" message="tns:IDomainContextService_DeleteDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/DeleteDomainResponse" message="tns:IDomainContextService_DeleteDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsAlive">
      <wsdl:input wsaw:Action="http://www.ntreev.com/IDomainContextService/IsAlive" message="tns:IDomainContextService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/IsAliveResponse" message="tns:IDomainContextService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnServiceClosed">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnServiceClosed" message="tns:IDomainContextService_OnServiceClosed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDomainsCreated">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnDomainsCreated" message="tns:IDomainContextService_OnDomainsCreated_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDomainsDeleted">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnDomainsDeleted" message="tns:IDomainContextService_OnDomainsDeleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDomainInfoChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnDomainInfoChanged" message="tns:IDomainContextService_OnDomainInfoChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnDomainStateChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnDomainStateChanged" message="tns:IDomainContextService_OnDomainStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserAdded">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserAdded" message="tns:IDomainContextService_OnUserAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserRemoved">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserRemoved" message="tns:IDomainContextService_OnUserRemoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserLocationChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserLocationChanged" message="tns:IDomainContextService_OnUserLocationChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserStateChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserStateChanged" message="tns:IDomainContextService_OnUserStateChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserEditBegun">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserEditBegun" message="tns:IDomainContextService_OnUserEditBegun_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnUserEditEnded">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnUserEditEnded" message="tns:IDomainContextService_OnUserEditEnded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnOwnerChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnOwnerChanged" message="tns:IDomainContextService_OnOwnerChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnRowAdded">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnRowAdded" message="tns:IDomainContextService_OnRowAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnRowChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnRowChanged" message="tns:IDomainContextService_OnRowChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnRowRemoved">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnRowRemoved" message="tns:IDomainContextService_OnRowRemoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnPropertyChanged">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnPropertyChanged" message="tns:IDomainContextService_OnPropertyChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnTaskCompleted">
      <wsdl:output wsaw:Action="http://www.ntreev.com/IDomainContextService/OnTaskCompleted" message="tns:IDomainContextService_OnTaskCompleted_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>