client/Ntreev.Crema.Services/Service References/DomainService/www.ntreev.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ntreev.com" elementFormDefault="qualified" targetNamespace="http://www.ntreev.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.ntreev.com" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authenticationToken" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.ntreev.com" minOccurs="0" name="SubscribeResult" type="q2:ResultBaseOfDomainContextMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.ntreev.com" minOccurs="0" name="UnsubscribeResult" type="q3:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="dataBaseID" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.ntreev.com" minOccurs="0" name="GetMetaDataResult" type="q5:ResultBaseOfArrayOfDomainMetaDataq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.ntreev.com" minOccurs="0" name="accessType" type="q7:DomainAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.ntreev.com" minOccurs="0" name="EnterResult" type="q8:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.ntreev.com" minOccurs="0" name="LeaveResult" type="q10:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q11:guid" />
        <xs:element xmlns:q12="http://schemas.ntreev.com" minOccurs="0" name="location" type="q12:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.ntreev.com" minOccurs="0" name="SetUserLocationResult" type="q13:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q15:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.ntreev.com" minOccurs="0" name="NewRowResult" type="q16:ResultBaseOfArrayOfDomainRowInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q18:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.ntreev.com" minOccurs="0" name="RemoveRowResult" type="q19:ResultBaseOfArrayOfDomainRowInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q20:guid" />
        <xs:element xmlns:q21="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q21:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.ntreev.com" minOccurs="0" name="SetRowResult" type="q22:ResultBaseOfArrayOfDomainRowInfoq8erDhHE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q23:guid" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.ntreev.com" minOccurs="0" name="SetPropertyResult" type="q24:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.ntreev.com" minOccurs="0" name="location" type="q26:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.ntreev.com" minOccurs="0" name="BeginUserEditResult" type="q27:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.ntreev.com" minOccurs="0" name="EndUserEditResult" type="q29:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q30:guid" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.ntreev.com" minOccurs="0" name="KickResult" type="q31:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q32:guid" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.ntreev.com" minOccurs="0" name="SetOwnerResult" type="q33:ResultBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q34:guid" />
        <xs:element minOccurs="0" name="force" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.ntreev.com" minOccurs="0" name="DeleteDomainResult" type="q35:ResultBaseOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServiceClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q36:CallbackInfo" />
        <xs:element xmlns:q37="http://schemas.ntreev.com" minOccurs="0" name="closeInfo" type="q37:CloseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainsCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q38:CallbackInfo" />
        <xs:element xmlns:q39="http://schemas.ntreev.com" minOccurs="0" name="metaDatas" nillable="true" type="q39:ArrayOfDomainMetaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q40:CallbackInfo" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="domainIDs" nillable="true" type="q41:ArrayOfguid" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IsCanceleds" nillable="true" type="q42:ArrayOfboolean" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q43:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainInfoChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q44:CallbackInfo" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q45:guid" />
        <xs:element xmlns:q46="http://schemas.ntreev.com" minOccurs="0" name="domainInfo" type="q46:DomainInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDomainStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q47:CallbackInfo" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q48:guid" />
        <xs:element xmlns:q49="http://schemas.ntreev.com" minOccurs="0" name="domainState" type="q49:DomainState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q50:CallbackInfo" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q51:guid" />
        <xs:element xmlns:q52="http://schemas.ntreev.com" minOccurs="0" name="domainUserInfo" type="q52:DomainUserInfo" />
        <xs:element xmlns:q53="http://schemas.ntreev.com" minOccurs="0" name="domainUserState" type="q53:DomainUserState" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q54:CallbackInfo" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q55:guid" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerID" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.ntreev.com" minOccurs="0" name="removeInfo" type="q56:RemoveInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserLocationChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q57:CallbackInfo" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q58:guid" />
        <xs:element xmlns:q59="http://schemas.ntreev.com" minOccurs="0" name="domainLocationInfo" type="q59:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q60:CallbackInfo" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q61:guid" />
        <xs:element xmlns:q62="http://schemas.ntreev.com" minOccurs="0" name="domainUserState" type="q62:DomainUserState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserEditBegun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q63:CallbackInfo" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q64:guid" />
        <xs:element xmlns:q65="http://schemas.ntreev.com" minOccurs="0" name="domainLocationInfo" type="q65:DomainLocationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnUserEditEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q66:CallbackInfo" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q67:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnOwnerChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q68:CallbackInfo" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q69:guid" />
        <xs:element minOccurs="0" name="ownerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q70:CallbackInfo" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q71:guid" />
        <xs:element xmlns:q72="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q72:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q73:CallbackInfo" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q74:guid" />
        <xs:element xmlns:q75="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q75:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRowRemoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q76:CallbackInfo" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q77:guid" />
        <xs:element xmlns:q78="http://schemas.ntreev.com" minOccurs="0" name="rows" nillable="true" type="q78:ArrayOfDomainRowInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPropertyChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.ntreev.com" minOccurs="0" name="callbackInfo" type="q79:CallbackInfo" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="domainID" type="q80:guid" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>